
.box{
   background: url(image/bg.png);
   background-size: cover ; 
 
}

img{
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 360px;
    height: 324px;
    margin-right: auto;
    margin-left: auto;
    
}

.heading > h1{
    color: black;
    text-align: center;
    font-weight:bolder;
    font-size: 50px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 3%;
}

.heading > p{
    text-align: center;
    font-weight:450;
    font-size: 20px;
}

.pw-header{
padding: 1rem;
}
.pw{
width: 100%;
height: 70px;
background-color:transparent;
border: 1px solid #758283;
font-weight: lighter;
color: gray;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
border-radius: 35px;
display: flex;
align-items: center;
position: relative;
font-size: 1.5rem;
padding: 1rem;
/* overflow: auto; */
}
.pw button{
position: absolute;
right: 0;
transition: opacity 0.2s ease, transform 0.2s ease;
opacity: 0;
background-color: transparent;
padding: 0.25rem 1rem;
font-family: inherit;
font-weight: bold;
color: blue;
border: none;
border-radius: 25px;
cursor: pointer;
}
.pw:hover button{
opacity: 1;
}
.pw-body{
padding: 0 1rem 1rem;
}
.form-control{
display: flex;
justify-content: space-between;
margin: 0.75rem 0;
background-color: transparent;
border: 0;
}
#len{
    background-color:rgba(255, 255, 255, 0.546);
    text-align: center;
    border: 1px solid gray;
    border-radius: 8px;
    width: 50px;
}
lable{
    color:black;
    font-size: medium;
    font-weight:bold;
}
span{
    font-weight: lighter;
    font-size: medium;
    font-size: medium;
}
#upper,#lower,#number,#symbol{
    width: 20px;
    height: 20px;
    border: 0.5px solid black;
    border-radius: 10px;
    
}

.generate{
    background: linear-gradient(to right,#196BCA ,#6433E0);
    background-color: #196BCA;
    color: #fff;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding: 16px 81px;
    border: 0px solid #000;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 2px 2px 11px 2px rgba(0, 132, 255, 0.495);
    width: 100%;
}
.generate:hover{
    background: linear-gradient(to right,#1866c0 ,#5f30d5);
    background-color: #1866c0
}
.generate:active{
    transform: scale(0.95);
}

.adv > h1{
    text-align: center;
    padding-top: 30px;
}

#adImg{
    height: 70px;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.adv1{
   text-align: center;
}

.strongPass{
    background: linear-gradient(266.18deg, #071D2B 27.86%, #153042 101.55%);
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.faq-accordion{
    border: 0.5px solid gray;
    border-radius: 25px;
    padding: 25px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.fq{
    background-color: #f1f2f6;
}

.bann{
    margin-top: auto;
    margin-bottom: auto
}

.footerm{
   color: white;
   background-color: black;
   font-weight: bold;

}
